@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 62,5%;
}

html, body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D6E1F0;
}

.container{
    width: 400px;
    height: 575px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.qr-code{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem-qr-code{
    width: 370px;
    border-radius: 20px;
}

.qr-code > h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    font-size: 1.8rem;
    padding-top: 20px;
}

.paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: hsl(212, 16%, 54%);
    padding-top: 15px;
}

@media screen and (max-width: 375px) {
    .container{
        width: 340px;
        height: 520px;
    }

    .imagem-qr-code{
        width: 310px;
    }

    .qr-code > h1{
        font-size: 1.5rem;
    }

    .paragraph{
        padding-bottom: 30px;
    }
}